Get New Row -> Select -> ESC -> M (To make code file to Text file)

https://youtu.be/ie4oGI85SAE?si=INccfGFZF3HMqFOD

In [83]:
import pandas as pd
import numpy as np

In [84]:
import sklearn

In [85]:
from sklearn.datasets import load_iris
iris = load_iris()

In [86]:
df = pd.DataFrame(data = iris.data, columns = iris.feature_names)
df['target'] = iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [87]:
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [88]:
df = pd.read_csv('sample_data.csv')

In [89]:
df.head()

     Name  Gender       City Passed
0    Aman    Male      Delhi    Yes
1   Priya  Female     Mumbai    Yes
2   Rahul    Male  Bangalore     No
3  Anjali  Female     Mumbai    Yes
4    Ravi    Male      Delhi    Yes

In [90]:
df_label = df.copy() #making copy to the file

Label Encoding

In [91]:
from sklearn.preprocessing import LabelEncoder

df_label = df.copy()

le = LabelEncoder() #calling LabelEncoder from sklearn store that to le
df_label['Gender_Encoded'] = le.fit_transform(df_label['Gender']) 
'''
calling df_label(the copied one) creating a new row named "Gender_Encoded" = call le  performing fit_transform function which will learn from the data
and transform into 0 & 1 (from original data's coloumn ['Gender'])
'''
df_label['Passed_Encoded'] = le.fit_transform(df_label['Passed'])
'''
calling df_label(the copied one) creating a new row named "Passed_Encoded" = call le . performing fit_transform function which will learn from the data
and transform into 0 & 1 (from original data's coloumn ['Passed'])
'''

'\ncalling df_label(the copied one) creating a new row named "Passed_Encoded" = call le . performing fit_transform function which will learn from the data\nand transform into 0 & 1 (from original data\'s coloumn [\'Passed\'])\n'

In [92]:
df_label

      Name  Gender       City Passed  Gender_Encoded  Passed_Encoded
0     Aman    Male      Delhi    Yes               1               1
1    Priya  Female     Mumbai    Yes               0               1
2    Rahul    Male  Bangalore     No               1               0
3   Anjali  Female     Mumbai    Yes               0               1
4     Ravi    Male      Delhi    Yes               1               1
5    Meera  Female    Chennai     No               0               0
6    Arjun    Male  Bangalore    Yes               1               1
7     Neha  Female      Delhi    Yes               0               1
8    Imran    Male    Chennai     No               1               0
9    Sneha  Female     Mumbai    Yes               0               1
10     Raj    Male    Chennai    Yes               1               1
11   Divya  Female      Delhi     No               0               0
12   Kabir    Male     Mumbai    Yes               1               1
13  Simran  Female  Bangalore    Yes               0               1
14   Karan    Male      Delhi     No               1               0
15   Pooja  Female     Mumbai    Yes               0               1
16  Rakesh    Male    Chennai    Yes               1               1
17    Isha  Female      Delhi     No               0               0
18   Rohit    Male      Delhi    Yes               1               1
19   Deepa  Female  Bangalore    Yes               0               1

One Hot Coding

In [93]:
df_encoded = pd.get_dummies(df_label, columns =['City'])
# Creating new module name df_encoded
# used get_dummies function from pandas library which extracts categorical data from pertcular column ['City'] from df-label(the copy data)

In [94]:
df_encoded

,Name,Gender,Passed,Gender_Encoded,Passed_Encoded,City_Bangalore,City_Chennai,City_Delhi,City_Mumbai
0,Aman,Male,Yes,1,1,False,False,True,False
1,Priya,Female,Yes,0,1,False,False,False,True
2,Rahul,Male,No,1,0,True,False,False,False
3,Anjali,Female,Yes,0,1,False,False,False,True
4,Ravi,Male,Yes,1,1,False,False,True,False
5,Meera,Female,No,0,0,False,True,False,False
6,Arjun,Male,Yes,1,1,True,False,False,False
7,Neha,Female,Yes,0,1,False,False,True,False
8,Imran,Male,No,1,0,False,True,False,False
9,Sneha,Female,Yes,0,1,False,False,False,True
10,Raj,Male,Yes,1,1,False,True,False,False
11,Divya,Female,No,0,0,False,False,True,False
12,Kabir,Male,Yes,1,1,False,False,False,True
13,Simran,Female,Yes,0,1,True,False,False,False
14,Karan,Male,No,1,0,False,False,True,False
15,Pooja,Female,Yes,0,1,False,False,False,True
16,Rakesh,Male,Yes,1,1,False,True,False,False
17,Isha,Female,No,0,0,False,False,True,False
18,Rohit,Male,Yes,1,1,False,False,True,False
19,Deepa,Female,Yes,0,1,True,False,False,False

In [95]:
# df_label = df.copy()

# OHE = OneHotEncoder()
# df_label['City_Encoded'] = OHE.fit_transform(df_label['City'])

# df_label

In [96]:
# Convert to binary
convert = df["City"]
data_binary = pd.get_dummies(convert, columns = ["City"]).astype(int)
data_binary

    Bangalore  Chennai  Delhi  Mumbai
0           0        0      1       0
1           0        0      0       1
2           1        0      0       0
3           0        0      0       1
4           0        0      1       0
5           0        1      0       0
6           1        0      0       0
7           0        0      1       0
8           0        1      0       0
9           0        0      0       1
10          0        1      0       0
11          0        0      1       0
12          0        0      0       1
13          1        0      0       0
14          0        0      1       0
15          0        0      0       1
16          0        1      0       0
17          0        0      1       0
18          0        0      1       0
19          1        0      0       0

In [98]:
city_dummies = pd.get_dummies(df_label['City'], prefix='City').astype(int)

df_label = pd.concat([df_label, city_dummies], axis=1)

In [99]:
df_label

,Name,Gender,City,Passed,Gender_Encoded,Passed_Encoded,City_Bangalore,City_Chennai,City_Delhi,City_Mumbai
0,Aman,Male,Delhi,Yes,1,1,0,0,1,0
1,Priya,Female,Mumbai,Yes,0,1,0,0,0,1
2,Rahul,Male,Bangalore,No,1,0,1,0,0,0
3,Anjali,Female,Mumbai,Yes,0,1,0,0,0,1
4,Ravi,Male,Delhi,Yes,1,1,0,0,1,0
5,Meera,Female,Chennai,No,0,0,0,1,0,0
6,Arjun,Male,Bangalore,Yes,1,1,1,0,0,0
7,Neha,Female,Delhi,Yes,0,1,0,0,1,0
8,Imran,Male,Chennai,No,1,0,0,1,0,0
9,Sneha,Female,Mumbai,Yes,0,1,0,0,0,1
10,Raj,Male,Chennai,Yes,1,1,0,1,0,0
11,Divya,Female,Delhi,No,0,0,0,0,1,0
12,Kabir,Male,Mumbai,Yes,1,1,0,0,0,1
13,Simran,Female,Bangalore,Yes,0,1,1,0,0,0
14,Karan,Male,Delhi,No,1,0,0,0,1,0
15,Pooja,Female,Mumbai,Yes,0,1,0,0,0,1
16,Rakesh,Male,Chennai,Yes,1,1,0,1,0,0
17,Isha,Female,Delhi,No,0,0,0,0,1,0
18,Rohit,Male,Delhi,Yes,1,1,0,0,1,0
19,Deepa,Female,Bangalore,Yes,0,1,1,0,0,0

In [100]:
df_label.drop("City", axis=1, inplace=True)

In [101]:
df_label

,Name,Gender,Passed,Gender_Encoded,Passed_Encoded,City_Bangalore,City_Chennai,City_Delhi,City_Mumbai
0,Aman,Male,Yes,1,1,0,0,1,0
1,Priya,Female,Yes,0,1,0,0,0,1
2,Rahul,Male,No,1,0,1,0,0,0
3,Anjali,Female,Yes,0,1,0,0,0,1
4,Ravi,Male,Yes,1,1,0,0,1,0
5,Meera,Female,No,0,0,0,1,0,0
6,Arjun,Male,Yes,1,1,1,0,0,0
7,Neha,Female,Yes,0,1,0,0,1,0
8,Imran,Male,No,1,0,0,1,0,0
9,Sneha,Female,Yes,0,1,0,0,0,1
10,Raj,Male,Yes,1,1,0,1,0,0
11,Divya,Female,No,0,0,0,0,1,0
12,Kabir,Male,Yes,1,1,0,0,0,1
13,Simran,Female,Yes,0,1,1,0,0,0
14,Karan,Male,No,1,0,0,0,1,0
15,Pooja,Female,Yes,0,1,0,0,0,1
16,Rakesh,Male,Yes,1,1,0,1,0,0
17,Isha,Female,No,0,0,0,0,1,0
18,Rohit,Male,Yes,1,1,0,0,1,0
19,Deepa,Female,Yes,0,1,1,0,0,0

Feature Scaling

StandardScaler

In [103]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform

MinMaxScaler

In [142]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_scaled = scaler.fit_transform

Feature Scaling - Standard Scaler & MinMaxScaler

In [143]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler


data = {
    "StudyHour" : [1,2,3,4,5],
    "TestScore" : [40,50,60,70,80]
}

df = pd.DataFrame(data) #it becomes a dataframe now

# StandardScaler
standard_scaler = StandardScaler() #Made an Standard Scaler Obj
standard_scaled = standard_scaler.fit_transform(df) #Here I have to pass the dataframe --> which had both input and output
# fit -> it will learn mean and standard daviation from each column
# transfrom -> it will use the value to scale each value using the below formula

'''
z = (X- mu)/rho

z = Scaled Output
X = Actual Value
mu = mean of the column
rho = Standard daviation of a column

'''

print("Standard Scaler Output")
print(pd.DataFrame(standard_scaled, columns = ['StudyHouR','TestScorE']))
# Threw this we are calling the dataframe standard_saler 
# Giving the column name 'StandardHouR','TestScorE' for better understanding

print("\n")

# MinMaxScaler
minmax_scaler = MinMaxScaler() #Creating Object
minmax_scaled = minmax_scaler.fit_transform(df) #It will from minimum and maximum value of each column

print("Min Max Scaler Output")
print(pd.DataFrame(minmax_scaled, columns = ['StudyHouR','TestScorE']))

Standard Scaler Output
   StudyHouR  TestScorE
0  -1.414214  -1.414214
1  -0.707107  -0.707107
2   0.000000   0.000000
3   0.707107   0.707107
4   1.414214   1.414214


Min Max Scaler Output
   StudyHouR  TestScorE
0       0.00       0.00
1       0.25       0.25
2       0.50       0.50
3       0.75       0.75
4       1.00       1.00

Train Test Split

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

data = {
    "StudyHour" : [1,2,3,4,5],
    "TestScore" : [40,50,60,70,80]
}

df = pd.DataFrame(data) #it becomes a dataframe now

print("\n Train_Test_Split")
X = df[["StudyHour"]]  #Input / feature
y = df[["TestScore"]]  #Predicted output
# used [[]]  so that it become dataframe
# [] it makes Series Data

X_train , X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 42)

'''
X_train  -> Used 80% data for training purpose from X
X_test -> Used 20% data for test purpose from X
y_train -> Used 80% data for training purpose from y
y_test -> Used 20% data for test purpose from y

train_test_split( -> Calling the funtion
X -> Input
y -> Output
test_size = 0.2 -> For an 80/20 split (80% training, 20% testing)
train_size = 0.8 -> For an 80/20 split (80% training, 20% testing)
# Both the above are same but we usualy write test_size = 0.2
random_state = 42 -> Will give the same split each time (80%,20%) for reproducibility 
)
'''

print("Training Data")
print(X_train)

print("Test Data")
print(X_test)

print("Training Data")
print(y_train)

print("Test Data")
print(y_test)

'''
we are saying here to my model that learn from X_train and y_Train
and test that in X_test , y_test
'''

 Train_Test_Split
Training Data
   StudyHour
4          5
2          3
0          1
3          4
Test Data
   StudyHour
1          2
Training Data
   TestScore
4         80
2         60
0         40
3         70
Test Data
   TestScore
1         50

'\nwe are saying here to my model that learn from X_train and y_Train\nand test that in X_test , y_test\n'

Feature Scaling

Raw Data
   
Feature Scaling (StandardScaler)
   
Train Model (Logistic Regression / KNN / SVM etc.)

In [139]:
X = [[1],[2],[3],[4],[5]] #hr studied
y = [0,0,1,1,1] #pass or fail -> 0 = Fail, 1 = Pass

In [140]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

# Step 1: Create scaler object
scaler = StandardScaler()

# Step 2: Scale the independent variable
X_scaled = scaler.fit_transform(X)

# Step 3: Create model object
model = LogisticRegression()

# Step 4: Train the model using scaled data
model.fit(X_scaled, y)
# X_scaled = Scaled Independent Variable
# y = Target Variable

# Step 5: Take user input
hours = float(input("How many hours you have studied : "))

# Step 6: Scale the input using SAME scaler
hours_scaled = scaler.transform([[hours]])
# We use transform(), NOT fit_transform()
# Because we must use same mean & std as training data

# Step 7: Predict
predict_result = model.predict(hours_scaled)[0]

# Step 8: Display result
if predict_result == 1:
    print(f"Based on your {hours} study you will pass")
else:
    print(f"Based on your {hours} study you will fail")

How many hours you have studied :  9

Based on your 9.0 study you will pass